* {
    box-sizing: border-box ;
    margin: 0;
    padding: 0;
    font-family: monospace;
}
.choice {
    background-color: aquamarine;
    width: 400px;
    height: 150px;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}
h2 {
    padding-bottom: 20px;
    padding-top: 30px;
}
button {
    background-color: white;
    height: 35px;
    border-radius: 5px;
    padding: 8px;
}
button:hover {
    font-weight: bold;
}
#score, #result {
    margin: auto;
    text-align: center;
    padding-top: 20px;
}
#score {
    font-weight: bold;
}
.hidden {
    display: none;
}
